.added-items {
  text-align: center;
  font-weight: 400;
  margin: 1rem 0;
}

.summary {
  text-align: center;
  margin: 0.5rem;
}

.info {
  margin: 0.5rem 0;
}

.total {
  text-align: center;
  font-size: 1.5rem;
  color: brown;
}
