.header img {
  max-height: 5rem;
}

.header {
  text-align: center;
}

.header nav {
  background-color: black;
  line-height: 3rem;
  margin: 0.5rem 0;
}

.header nav a {
  margin-right: 2rem;
  padding: 0.95rem;
  color: #fff;
  text-decoration: none;
}

.header nav a:hover {
  background-color: gray;
}
